#batRow {
  min-height: 20em;
  background-color: blue;
}

#playNewGame {
  margin-top: 5em;
  margin-bottom: 5em;
}



.letterSpaces {
  text-align: center;
  border-bottom: 5px solid black;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 50px;
  font-weight: bold;
}

.userGuess {
  visibility: hidden;
}

#spacesRow {
  /*border-bottom: 2px solid black;*/

}

#letterSpaces .userGuess {
  /*min-height: 20em;*/

}
